{{< ../pageTemplate}}

{{$pageContent}}

<div class="well well-sm">
    <button id="refreshBtn" type="button" class="btn btn-default" aria-label="Refresh" style="margin-right: 10px;">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>
    <button id="composeBtn" type="button" class="btn btn-default" aria-label="Compose message" style="margin-right: 10px;">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
    <button id="deleteBtn" type="button" class="btn btn-default" aria-label="Delete">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    <script>
        $("#refreshBtn").click(function() {
            navigate(window.location.href, "content");
        });
        $("#composeBtn").click(function() {
            submitData("/mail/compose", "", "content");
        });
        $("#deleteBtn").click(function() {
            var data = $.map($("input.messageSelect:checked"), function (checkbox, i) {
                return "mailUuid=" + $(checkbox).attr("data-uuid");
            });
            var pageParameter = getParameterByName("page");
            if (pageParameter !== "") {
                data.push("page=" + pageParameter);
            }
            data.push("mailType={{mailType}}");
            submitData("/mail/delete", data.join("&"), "content");
        });
    </script>
</div>

<ul class="nav nav-tabs">
    <li role="presentation"{{#inboxPage}} class="active"{{/inboxPage}}><a href="/mail" m-container="content">
        Inbox{{#unreadInboxMailCount}} <span class="badge">{{.}}</span>{{/unreadInboxMailCount}}
    </a></li>
    <li role="presentation"{{#sentPage}} class="active"{{/sentPage}}><a href="/mail/sent" m-container="content">Sent mails</a></li>
    <li role="presentation"{{#draftPage}} class="active"{{/draftPage}}><a href="/mail/draft" m-container="content">
        Drafts{{#draftMailCount}} <span class="badge">{{.}}</span>{{/draftMailCount}}
    </a></li>
    <li role="presentation"{{#trashPage}} class="active"{{/trashPage}}><a href="/mail/trash" m-container="content">Trash</a></li>
</ul>

<p></p>
<p>You have {{mailCount}} e-mails.</p>

<table class="table">
    <tr>
        <th>
            <label>
                <input id="messageSelectAll" type="checkbox" aria-label="select all messages" />
                <script>
                    $("#messageSelectAll").click(function() {
                        $(".messageSelect").prop("checked", $(this).prop("checked"));
                    });
                </script>
            </label>
        </th>
        {{#showFrom}}<th>From</th>{{/showFrom}}
        {{#showTo}}<th>To</th>{{/showTo}}
        <th>Subject</th>
        <th>Date</th>
    </tr>
    {{#mails}}
        <tr>
            <td>
                <label>
                    <input type="checkbox" class="messageSelect" data-uuid="{{uuid}}"
                           aria-label="select message {{subject}}{{^subject}}No subject{{/subject}}" />
                </label>
            </td>
            {{#showFrom}}
                <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}>
                    <a href="{{mailDetailLink}}/{{uuid}}">{{from}}</a>
                </td>
            {{/showFrom}}
            {{#showTo}}
                <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}>
                    <a href="{{mailDetailLink}}/{{uuid}}">{{to}}{{^to}}No receiver{{/to}}</a>
                </td>
            {{/showTo}}
            <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}>
                <a href="{{mailDetailLink}}/{{uuid}}">{{subject}}{{^subject}}No subject{{/subject}}</a>
            </td>
            <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}>
                <a href="{{mailDetailLink}}/{{uuid}}">{{dateTime}}</a>
            </td>
        </tr>
    {{/mails}}
    {{^mails}}
        <tr>
            <td colspan="4"><i>No e-mails.</i></td>
        </tr>
    {{/mails}}
</table>
<script>
    $(".messageSelect").click(function() {
        $("#messageSelectAll").prop("checked", false);
    });
</script>

{{/pageContent}}

{{/ ../pageTemplate}}