{{< ../pageTemplate}}

{{$pageContent}}

{{^mail}}
<div class="alert alert-danger" role="alert">Mail not found.</div>
{{/mail}}

<div class="well well-sm">
    <button type="button" class="btn btn-default" aria-label="Go Back" onclick="history.back()" style="margin-right: 10px;">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>
    {{#mail}}
        <button id="deleteBtn" type="button" class="btn btn-default" aria-label="Delete">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <script>
            $("#deleteBtn").click(function() {
                var lastState = History.getStateByIndex(-2);
                var data = $.makeArray([]);
                if (typeof lastState !== "undefined") {
                    data.push("returnTo=" + History.getShortUrl(lastState.url));
                }
                submitData("/mail/{{uuid}}/delete", data.join("&"), "content");
            });
        </script>
    {{/mail}}
</div>

{{#mail}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{subject}}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><b>{{dateTimeLabel}}</b> {{dateTime}}</li>
            <li class="list-group-item"><b>from</b> {{from}}</li>
            <li class="list-group-item"><b>to</b> {{to}}</li>
            {{#cc}}<li class="list-group-item"><b>cc</b> {{.}}</li>{{/cc}}
            {{#bcc}}<li class="list-group-item"><b>cc</b> {{.}}</li>{{/bcc}}
        </ul>
        <div class="panel-body">
            {{{messageText}}}
        </div>
    </div>
{{/mail}}

{{/pageContent}}

{{/ ../pageTemplate}}