Overview page

<p>{{welcome}}</p>

<p><a href="/page1" m-target="main">Page 1</a></p>
<p><a href="/page2" m-target="main">Page 2</a></p>
<p><a href="/data" m-target="main">Data</a></p>
<p><a href="/data2" m-target="main">Data2</a></p>

<div>
    <form id="overview-form" method="post">
        <p><input type="text" placeholder="Vorname" name="firstname" /></p>
        <p><input type="text" placeholder="Nachname" name="lastname" /></p>
        <p><input type="submit" /></p>
    </form>
</div>

<p><a href="https://www.google.at" m-ignore>Link to Google</a></p>

Overview end