<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>at.jakobk.web.test.TestServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>StreamingServlet</servlet-name>
        <servlet-class>at.jakobk.web.test.StreamingServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StreamingServlet</servlet-name>
        <url-pattern>/StreamingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MascherlServlet</servlet-name>
        <servlet-class>org.mascherl.servlet.MascherlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MascherlServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/bower_components/*</url-pattern>
    </servlet-mapping>

</web-app>