{{< signupDialog}}

{{$dialogContent}}

{{#bean}}
<form id="signUpForm" action="/signup/step1" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up - Step 1</h4>
    </div>
    <div class="modal-body">
        {{$dialogMessages}}
            {{> ../messages}}
        {{/dialogMessages}}

        <div class="form-group{{#firstNameError}} has-error{{/firstNameError}}">
            <label for="inputFirstName" class="control-label">First name</label>
            <input id="inputFirstName" type="text" name="firstName" class="form-control" placeholder="First name" value="{{firstName}}" required autofocus>
        </div>

        <div class="form-group{{#lastNameError}} has-error{{/lastNameError}}">
            <label for="inputLastName" class="control-label">Last name</label>
            <input id="inputLastName" type="text" name="lastName" class="form-control" placeholder="Last name" value="{{lastName}}" required>
        </div>

        <div class="form-group{{#dateOfBirthError}} has-error{{/dateOfBirthError}}">
            <label for="inputDateOfBirth" class="control-label">Date of birth</label>
            <input id="inputDateOfBirth" type="date" name="dateOfBirth" class="form-control" placeholder="Date of birth" value="{{dateOfBirth}}" required>
        </div>

        <div class="form-group{{#countryError}} has-error{{/countryError}}">
            <label for="inputCountry" class="control-label">Country</label>
            <select id="inputCountry" name="country" class="form-control" required>
                {{#countries}}
                    <option value="{{value}}"{{#selected}} selected{{/selected}}>{{label}}</option>
                {{/countries}}
            </select>
        </div>

        {{$stateContainer}}
            <div class="form-group{{#stateError}} has-error{{/stateError}}">
                <label for="inputState" class="control-label">State</label>
                <select id="inputState" name="state" class="form-control" required{{^states}} disabled{{/states}}>
                    {{#states}}
                        <option value="{{value}}"{{#selected}} selected{{/selected}}>{{label}}</option>
                    {{/states}}
                    {{^states}}
                        <option>Please select the country first</option>
                    {{/states}}
                </select>
            </div>
        {{/stateContainer}}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Next step</button>
    </div>
</form>
{{/bean}}

{{/dialogContent}}

{{/ signupDialog}}
