{{< ../pageTemplateNoUser}}

{{$headContainer}}
    <div class="jumbotron">
        <div class="container">
            <h1>Mascherl &#x29d3; WebMail</h1>
            <p>This application is a showcase for Mascherl &#x29d3;. It simulates a web mail system.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/signup" role="button" style="margin-right:10px;">Sign up</a>
                <a class="btn btn-success btn-lg" href="/login" role="button">Sign in</a>
            </p>
        </div>
    </div>
{{/headContainer}}

{{/ ../pageTemplateNoUser}}