{{< uber}}

{{$form}}
    {{message}}

    <div>
        <form id="overview-form" action="{{overviewFormAction}}" method="post">
            <p><input type="text" placeholder="Vorname" name="firstname" /></p>
            <p><input type="text" placeholder="Nachname" name="lastname" /></p>
            <p><input type="submit" /></p>
        </form>
    </div>

    <div>
        <form id="overview-form2" action="{{#url}}org.mascherl.example.OverviewPage.submit2{{/url}}" method="post">
            <p><input type="text" placeholder="Vorname" name="firstname" /></p>
            <p><input type="text" placeholder="Nachname" name="lastname" /></p>
            <p><input type="submit" /></p>
        </form>
    </div>
{{/form}}

{{/ uber}}