<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{{@dialog-content}}}
        </div>
    </div>
</div>

<script>
    $("div.modal-backdrop").remove();
    var dialog = $('#myModal');
    dialog.modal('show');
    dialog.on('hide.bs.modal', function (e) {
        $("div.modal-backdrop").remove();
        History.pushState({"container": "dialog"}, null, "/page1");

        /*window.fireHistoryChange = false;
        History.pushState({"container": "main"}, null, "http://localhost:8080/page1");
        window.fireHistoryChange = true;
        document.title = "Page 1";
        $('#dialog').remove();    */
    })
</script>