{{< pageTemplate}}

{{$content}}

<div class="well well-sm">
    <button id="deleteBtn" type="button" class="btn btn-default" aria-label="Delete">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    <script>
        $("#deleteBtn").click(function() {
            var checkedMessages = $("input.messageSelect:checked");
            var data = $.map(checkedMessages, function (n, i) {
                return "mailUuid=" + $(n).attr("data-uuid");
            });
            var pageParameter = getParameterByName("page");
            if (pageParameter !== "") {
                data.push("page=" + pageParameter);
            }
            data.push("mailType=" + "{{mailType}}");
            submitData("/mail/moveToTrash", data.join("&"));
        });
    </script>
</div>

{{$mailTypeNav}}
{{/mailTypeNav}}

<p></p>
<p>You have {{mailCount}} e-mails.</p>

<table class="table">
    <tr>
        <th>
            <label>
                <input id="messageSelectAll" type="checkbox" aria-label="select all messages" />
                <script>
                    $("#messageSelectAll").click(function() {
                        $(".messageSelect").prop("checked", $(this).prop("checked"));
                    });
                </script>
            </label>
        </th>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
    </tr>
    {{#mails}}
        <tr>
            <td>
                <label>
                    <input type="checkbox" class="messageSelect" data-uuid="{{uuid}}" aria-label="select message {{subject}}" />
                </label>
            </td>
            <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}><a href="/mail/{{uuid}}">{{fromTo}}</a></td>
            <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}><a href="/mail/{{uuid}}">{{subject}}</a></td>
            <td{{#isUnread}} style="font-weight:bold;"{{/isUnread}}><a href="/mail/{{uuid}}">{{dateTime}}</a></td>
        </tr>
    {{/mails}}
    {{^mails}}
        <tr>
            <td colspan="4"><i>No e-mails.</i></td>
        </tr>
    {{/mails}}
</table>
<script>
    $(".messageSelect").click(function() {
        $("#messageSelectAll").prop("checked", false);
    });
</script>

{{/content}}

{{/pageTemplate}}