{{< mailOverviewTemplate}}

{{$mailTypeNav}}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/mail">
        Inbox{{#unreadInboxMailCount}} <span class="badge">{{.}}</span>{{/unreadInboxMailCount}}
    </a></li>
    <li role="presentation"><a href="/mail/sent">Sent mails</a></li>
    <li role="presentation"><a href="/mail/draft">
        Drafts{{#draftMailCount}} <span class="badge">{{.}}</span>{{/draftMailCount}}
    </a></li>
    <li role="presentation" class="active"><a href="/mail/trash">Trash</a></li>
</ul>
{{/mailTypeNav}}

{{/mailOverviewTemplate}}