<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{$titleBar}}
            <a class="navbar-brand" href="/mail">WebMail powered by Mascherl &#x29d3;</a>
            {{/titleBar}}
        </div>

        <p class="navbar-text navbar-right">
            {{$userInfo}}
                <form id="logoutFormNav" class="navbar-form navbar-right" action="/logout" method="post">
                    <label style="color:white; margin-right: 5px;">
                        {{#user}}
                            <b>{{firstName}} {{lastName}} - {{email}}</b>
                        {{/user}}
                    </label>
                    <button type="submit" class="btn btn-success">Sign out</button>
                </form>
            {{/userInfo}}
        </p>
    </div>
</nav>

{{$headContainer}}
{{/headContainer}}

<div class="container">
    {{$content}}
        {{$messages}}
            {{#successMsg}}
            <div class="alert alert-success" role="alert">{{.}}</div>
            {{/successMsg}}
            {{#infoMsg}}
            <div class="alert alert-info" role="alert">{{.}}</div>
            {{/infoMsg}}
            {{#errorMsg}}
            <div class="alert alert-danger" role="alert">{{.}}</div>
            {{/errorMsg}}
        {{/messages}}

        {{$pageContent}}
        {{/pageContent}}
    {{/content}}

    <hr>
    <footer>
        <p>&copy; Jakob Korherr 2015</p>
        <p>Version: {{applicationVersion}}</p>
    </footer>
</div>